In [3]:
import pandas as pd
import numpy as np

In [28]:
file_name = 'stream160919-Last-Set.csv'
odata = pd.read_csv(file_name)
odata = odata[odata.country_name.notnull()]#removing nulls at country.
odata = odata[odata.cohort_id != 99]# removing fake users.

#--------converting the  created_at into datetime and sort by user_id and created_at
odata['created_at'] = pd.to_datetime(odata['created_at'])
odataSort = odata.sort_values(['user_id', 'created_at'])
#odata.groupby("user_id").apply(lambda  x : x)

In [29]:
file_name2 = 'country-and-continent.csv'
continents = pd.read_csv(file_name2)

In [30]:
continents['country_name'] = [country_name.split(",")[0] for country_name in continents['country_name']] #split the extra information
continents.drop_duplicates(subset="country_name")

,Continent_Name,Continent_Code,country_name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,Afghanistan,AF,AFG,4.0
1,Europe,EU,Albania,AL,ALB,8.0
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0
3,Africa,AF,Algeria,DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0
5,Europe,EU,Andorra,AD,AND,20.0
6,Africa,AF,Angola,AO,AGO,24.0
7,North America,NaN,Antigua and Barbuda,AG,ATG,28.0
8,Europe,EU,Azerbaijan,AZ,AZE,31.0
10,South America,SA,Argentina,AR,ARG,32.0
11,Oceania,OC,Australia,AU,AUS,36.0
12,Europe,EU,Austria,AT,AUT,40.0
13,North America,NaN,Bahamas,BS,BHS,44.0
14,Asia,AS,Bahrain,BH,BHR,48.0
15,Asia,AS,Bangladesh,BD,BGD,50.0
16,Europe,EU,Armenia,AM,ARM,51.0
18,North America,NaN,Barbados,BB,BRB,52.0
19,Europe,EU,Belgium,BE,BEL,56.0
20,North America,NaN,Bermuda,BM,BMU,60.0
21,Asia,AS,Bhutan,BT,BTN,64.0
22,South America,SA,Bolivia,BO,BOL,68.0
23,Europe,EU,Bosnia and Herzegovina,BA,BIH,70.0
24,Africa,AF,Botswana,BW,BWA,72.0
25,Antarctica,AN,Bouvet Island (Bouvetoya),BV,BVT,74.0
26,South America,SA,Brazil,BR,BRA,76.0
27,North America,NaN,Belize,BZ,BLZ,84.0
28,Asia,AS,British Indian Ocean Territory (Chagos Archipe...,IO,IOT,86.0
29,Oceania,OC,Solomon Islands,SB,SLB,90.0
30,North America,NaN,British Virgin Islands,VG,VGB,92.0
31,Asia,AS,Brunei Darussalam,BN,BRN,96.0
...,...,...,...,...,...,...
234,Europe,EU,Turkey,TR,TUR,792.0
236,Asia,AS,Turkmenistan,TM,TKM,795.0
237,North America,NaN,Turks and Caicos Islands,TC,TCA,796.0
238,Oceania,OC,Tuvalu,TV,TUV,798.0
239,Africa,AF,Uganda,UG,UGA,800.0
240,Europe,EU,Ukraine,UA,UKR,804.0
241,Europe,EU,Macedonia,MK,MKD,807.0
242,Africa,AF,Egypt,EG,EGY,818.0
243,Europe,EU,United Kingdom,GB,GBR,826.0
244,Europe,EU,Guernsey,GG,GGY,831.0
245,Europe,EU,Jersey,JE,JEY,832.0
246,Europe,EU,Isle of Man,IM,IMN,833.0
247,Africa,AF,Tanzania,TZ,TZA,834.0
248,North America,NaN,United States,US,USA,840.0
249,North America,NaN,United States Virgin Islands,VI,VIR,850.0
250,Africa,AF,Burkina Faso,BF,BFA,854.0
251,South America,SA,Uruguay,UY,URY,858.0
252,Asia,AS,Uzbekistan,UZ,UZB,860.0
253,South America,SA,Venezuela,VE,VEN,862.0
254,Oceania,OC,Wallis and Futuna,WF,WLF,876.0
255,Oceania,OC,Samoa,WS,WSM,882.0
256,Asia,AS,Yemen,YE,YEM,887.0
257,Africa,AF,Zambia,ZM,ZMB,894.0
258,Oceania,OC,Disputed Territory,XX,NaN,NaN
259,Asia,AS,Iraq-Saudi Arabia Neutral Zone,XE,NaN,NaN
260,Asia,AS,United Nations Neutral Zone,XD,NaN,NaN
261,Asia,AS,Spratly Islands,XS,NaN,NaN
262,Asia,NaN,Republic of Korea,NaN,NaN,NaN
263,Asia,NaN,Myanmar [Burma],NaN,NaN,NaN
264,Europe,NaN,Republic of Lithuania,NaN,NaN,NaN

In [31]:

# join the data to the get the user 
marget = pd.merge(odataSort,continents, left_on='country_name', right_on='country_name' ,how = 'left')

In [32]:
marget = marget.drop(['subjects','local_time','Continent_Code','Two_Letter_Country_Code','Three_Letter_Country_Code','Country_Number'], axis=1)

In [33]:
marget[marget['country_name'].isnull()]# cheack for nulls

Empty DataFrame
Columns: [id, user_id, project, created_at, country_name, city_name, intervention_id, preconfigured_id, cohort_id, algo_info, Continent_Name]
Index: []

In [34]:
def alculate_session_id(odataSort) :
    cond1 = odataSort.created_at-odataSort.created_at.shift(1) > pd.Timedelta(30, 'm')
    cond2 = odataSort.user_id != odataSort.user_id.shift(1)
    odataSort['SessionID'] = (cond1 | cond2).cumsum() # accumulated sim
    return odataSort

In [35]:
 marget= marget.groupby('user_id').apply(lambda x: alculate_session_id(x))

In [12]:
marget

,id,user_id,project,created_at,country_name,city_name,intervention_id,preconfigured_id,cohort_id,algo_info,Continent_Name,SessionID
0,1,1649536,5733,2019-05-23 19:32:14,Poland,Rumia,None,NaN,0,NaN,Europe,1
1,3,1246201,5733,2019-05-23 19:35:06,Greece,NaN,220753619730732286181297752354994884599,1.0,1,0.400477,Europe,1
2,4,1246201,5733,2019-05-23 19:35:38,Greece,NaN,None,0.0,1,0.467576,Europe,1
3,5,1246201,5733,2019-05-23 19:37:03,Greece,NaN,None,0.0,1,0.190000,Europe,1
4,6,1904710,5733,2019-05-23 19:39:00,United States,Philadelphia,84248398304130673939722041248774187823,2.0,2,0.400477,North America,1
5,7,1246201,5733,2019-05-23 19:39:06,Greece,NaN,None,0.0,1,0.280000,Europe,1
6,8,1904710,5733,2019-05-23 19:39:07,United States,Philadelphia,None,0.0,2,0.462258,North America,1
7,9,1904710,5733,2019-05-23 19:39:18,United States,Philadelphia,None,0.0,2,0.398938,North America,1
8,10,1904710,5733,2019-05-23 19:39:47,United States,Philadelphia,None,0.0,2,0.502224,North America,1
9,11,1904710,5733,2019-05-23 19:39:49,United States,Philadelphia,None,0.0,2,0.731942,North America,1
10,12,1904710,5733,2019-05-23 19:39:52,United States,Philadelphia,None,0.0,2,0.461667,North America,1
11,13,1904710,5733,2019-05-23 19:39:53,United States,Philadelphia,None,0.0,2,0.656028,North America,1
12,14,1904710,5733,2019-05-23 19:39:56,United States,Philadelphia,None,0.0,2,0.409008,North America,1
13,15,1904710,5733,2019-05-23 19:39:58,United States,Philadelphia,None,0.0,2,0.476917,North America,1
14,16,1904710,5733,2019-05-23 19:39:59,United States,Philadelphia,None,0.0,2,0.771500,North America,1
15,17,1904710,5733,2019-05-23 19:40:01,United States,Philadelphia,None,0.0,2,0.507000,North America,1
16,18,1904710,5733,2019-05-23 19:40:03,United States,Philadelphia,None,0.0,2,0.676333,North America,1
17,19,1904710,5733,2019-05-23 19:40:03,United States,Philadelphia,None,0.0,2,0.825833,North America,1
18,20,1904710,5733,2019-05-23 19:41:04,United States,Philadelphia,None,0.0,2,0.162167,North America,1
19,21,1904710,5733,2019-05-23 19:41:06,United States,Philadelphia,None,0.0,2,0.887500,North America,1
20,22,1904710,5733,2019-05-23 19:41:08,United States,Philadelphia,None,0.0,2,0.503214,North America,1
21,23,1904710,5733,2019-05-23 19:41:11,United States,Philadelphia,None,0.0,2,0.136222,North America,1
22,24,1904710,5733,2019-05-23 19:41:11,United States,Philadelphia,None,0.0,2,0.243667,North America,1
23,25,1904710,5733,2019-05-23 19:41:12,United States,Philadelphia,None,0.0,2,0.503048,North America,1
24,26,1904710,5733,2019-05-23 19:41:14,United States,Philadelphia,None,0.0,2,0.900000,North America,1
25,27,1904710,5733,2019-05-23 19:41:15,United States,Philadelphia,None,0.0,2,0.860595,North America,1
26,28,1904710,5733,2019-05-23 19:41:17,United States,Philadelphia,None,0.0,2,0.944000,North America,1
27,29,1904710,5733,2019-05-23 19:41:18,United States,Philadelphia,None,0.0,2,0.469881,North America,1
28,30,1904711,5733,2019-05-23 19:41:21,United States,Philadelphia,7869375515896768952895098115039031614,3.0,3,0.400477,North America,1
29,31,1904711,5733,2019-05-23 19:43:14,United States,Philadelphia,None,0.0,3,0.252103,North America,1
...,...,...,...,...,...,...,...,...,...,...,...,...
268884,273204,856163,5733,2019-09-16 18:04:13,Spain,NaN,295480209855665164730592867702383499829,1.0,1,0.530000,Europe,12
268885,273205,1928059,5733,2019-09-16 18:04:24,Philippines,NaN,None,0.0,5,0.020000,Asia,3
268886,273206,1928059,5733,2019-09-16 18:04:43,Philippines,NaN,None,0.0,5,0.020000,Asia,3
268887,273207,1928059,5733,2019-09-16 18:04:52,Philippines,NaN,None,0.0,5,0.030000,Asia,3
268888,273208,1928059,5733,2019-09-16 18:05:07,Philippines,NaN,None,0.0,5,0.060000,Asia,3
268889,273209,1928059,5733,2019-09-16 18:05:38,Philippines,NaN,None,0.0,5,0.070000,Asia,3
268890,273210,1928059,5733,2019-09-16 18:05:53,Philippines,NaN,None,0.0,5,0.080000,Asia,3
268891,273211,856163,5733,2019-09-16 18:06:01,Spain,NaN,None,0.0,1,0.570000,Europe,12
268892,273212,1928059,5733,2019-09-16 18:06:04,Philippines,NaN,None,0.0,5,0.080000,Asia,3
268893,273213,1928059,5733,2019-09-16 18:06:16,Philippines,NaN,None,0.0,5,0.080000,Asia,3
268894,273214,1928059,5733,2019-09-16 18:06:40,Philippines,NaN,None,0.0,5,0.090000,Asia,3
268895,273215,1928059,5733,2019-09-16 18:06:56,Philippines,NaN,None,0.0,5,0.110000,Asia,3
268896,273216,1928059,5733,2019-09-16 18:07:09,Philippines,NaN,None,0.0,5,0.090000,Asia,3
268897,273217,1928059,5733,2019-09-16 18:07:28,Philippines,NaN,None,0.0,5,0.080000,Asia,3
268898,273218,1928059,5733,2019-09-16 18:07:52,Philippines,NaN,None,0.0,5,0.100000,Asia,3
268899,273219,856163,5733,2019-09-16 18:07:55,Spain,NaN,None,0.0,1,0.760000,Europe,12
268900,273220,1928059,5733,2019-09-16 18:08:02,Philippines,NaN,None,0.0,5,0.140000,Asia,3
268901,273221,1928059,5733,2019-09-16 18:08:27,Philippines,NaN,None,0.0,5,0.160000,Asia,3
268902,273222,1928059,5733,2019-09-16 18:08:48,Philippines,NaN,None,0.0,5,0.200000,Asia,3
268903,273223,1928059,5733,2019-09-16 18:09:13,Philippines,NaN,None,0.0,5,0.190000,Asia,3
268904,273224,1928059,5733,2019-09-16 18:09:36,Philippines,NaN,None,0.0,5,0.190000,Asia,3
268905,273225,1928059,5733,2019-09-16 18:10:04,Philippines,NaN,None,0.0,5,0.200000,Asia,3
268906,273226,856163,5733,2019-09-16 18:10:47,Spain,NaN,None,0.0,1,0.690000,Europe,12
268907,273227,856163,5733,2019-09-16 18:11:49,Spain,NaN,None,0.0,1,0.580000,Europe,12
268908,273228,856163,5733,2019-09-16 18:14:15,Spain,NaN,None,0.0,1,0.580000,Europe,12
268909,273229,1778243,5733,2019-09-16 18:14:33,United Kingdom,St Albans,None,0.0,5,0.210000,Europe,2
268910,273230,1778243,5733,2019-09-16 18:17:54,United Kingdom,St Albans,None,0.0,5,0.329286,Europe,2
268911,273231,1332074,5733,2019-09-16 18:25:47,United States,Columbia,329672946439792769077742094719339056923,1.0,1,0.350000,North America,46
268912,273232,1332074,5733,2019-09-16 18:26:02,United States,Columbia,None,0.0,1,0.450000,North America,46
268913,273233,1332074,5733,2019-09-16 18:26:31,United States,Columbia,None,0.0,1,0.520000,North America,46

In [36]:
def midCulculations(x):
    Ntask = x.user_id.size
    dor =  (max(x['created_at'])-min(x['created_at']))/np.timedelta64(1, 's')
    dwell = dor/Ntask
    s1 = pd.Series( Ntask,name = 'Ntask')
    s2 = pd.Series( dor,name = 'Doration')
    s3 = pd.Series( dwell,name = 'dwell')
    return pd.concat([s1, s2, s3], axis=1)

In [37]:
sessionTask = marget.groupby(['user_id','SessionID']).apply(lambda x: midCulculations(x))# calculate Ntask per session.
#sessionTask = sessionTask.to_frame()
#sessionTask.columns = ['Ntask']

In [38]:
min(sessionTask['Doration'])

0.0

In [39]:
def Nsessions(x):
    Nsessions =  max(x['SessionID'])
    Continent =  x.Continent_Name.iloc[0]
    s1 = pd.Series(Nsessions, name = 'Nsessions')
    s2 = pd.Series(Continent, name = 'Continent')
    s3 = pd.Series(x['cohort_id'].iloc[0], name = 'cohort_id')
    return pd.concat([s1,s2,s3], axis=1)

In [40]:
usersTable = marget.groupby('user_id').apply(lambda x: Nsessions(x))

In [41]:
 usersTable['AVG_Task_Session'] = sessionTask.groupby('user_id').apply(lambda x: x['Ntask'].mean()).values

In [42]:
 usersTable['AVG_length_Session'] = sessionTask.groupby('user_id').apply(lambda x: x['Doration'].mean()).values

In [43]:
 usersTable['AVG_dwell_Session'] = sessionTask.groupby('user_id').apply(lambda x: x['dwell'].mean()).values

In [44]:
usersTable

,,Nsessions,Continent,cohort_id,AVG_Task_Session,AVG_length_Session,AVG_dwell_Session
user_id,,,,,,,
27,0,6,Europe,1,20.333333,945.000000,42.638528
34,0,1,North America,5,71.000000,6507.000000,91.647887
35,0,7,North America,4,3.857143,137.285714,24.795238
54,0,1,North America,1,2.000000,13.000000,6.500000
59,0,1,Europe,2,9.000000,1437.000000,159.666667
65,0,1,North America,5,10.000000,868.000000,86.800000
76,0,1,Europe,5,9.000000,217.000000,24.111111
85,0,2,Europe,5,10.000000,347.000000,35.119048
86,0,1,Europe,3,37.000000,2141.000000,57.864865
94,0,1,Europe,4,46.000000,1424.000000,30.956522
107,0,1,Europe,4,3.000000,140.000000,46.666667
108,0,2,Europe,4,4.000000,45.500000,8.750000
123,0,96,Europe,3,5.916667,473.479167,58.273698
129,0,1,North America,5,1.000000,0.000000,0.000000
140,0,1,Europe,4,16.000000,1057.000000,66.062500
146,0,3,North America,2,30.333333,1238.333333,39.764098
148,0,1,Oceania,2,12.000000,768.000000,64.000000
156,0,4,North America,4,18.750000,1951.000000,85.887780
172,0,49,Asia,2,6.632653,472.040816,64.867704
175,0,1,North America,1,40.000000,2467.000000,61.675000
180,0,6,Europe,5,4.833333,867.500000,118.736111
183,0,1,Europe,5,1.000000,0.000000,0.000000
189,0,1,Europe,5,39.000000,1775.000000,45.512821
190,0,1,North America,5,6.000000,537.000000,89.500000
198,0,26,Oceania,2,7.038462,2236.153846,292.208478
230,0,4,Europe,3,8.500000,577.250000,67.586058
239,0,4,Europe,5,6.250000,463.750000,68.502778
247,0,168,Europe,5,1.184524,56.928571,25.102183
248,0,1,Europe,4,3.000000,109.000000,36.333333
253,0,1,Europe,0,8.000000,1340.000000,167.500000
...,...,...,...,...,...,...,...
1927973,0,1,Europe,5,4.000000,234.000000,58.500000
1927994,0,5,North America,0,8.600000,2087.400000,170.637436
1928059,0,3,Asia,5,28.333333,1924.333333,55.883903
1928080,0,2,Europe,4,7.500000,893.500000,112.200000
1928113,0,7,North America,5,40.142857,3374.714286,68.416260
1928165,0,1,Oceania,3,10.000000,578.000000,57.800000
1928173,0,1,Asia,2,1.000000,0.000000,0.000000
1928174,0,1,Asia,3,5.000000,1742.000000,348.400000
1928178,0,1,Oceania,5,20.000000,665.000000,33.250000
1928185,0,1,Asia,3,17.000000,777.000000,45.705882
1928186,0,2,Oceania,4,10.000000,843.500000,56.416667
1928187,0,2,Europe,5,21.000000,732.000000,34.857143
1928201,0,2,Asia,1,4.000000,233.500000,58.375000
1928206,0,1,North America,4,1.000000,0.000000,0.000000
1928218,0,2,North America,5,33.000000,828.500000,25.529493
1928248,0,1,Europe,5,1.000000,0.000000,0.000000
1928250,0,1,Europe,1,2.000000,160.000000,80.000000
1928284,0,1,North America,3,21.000000,1313.000000,62.523810
1928300,0,1,Oceania,4,12.000000,288.000000,24.000000
1928307,0,1,Oceania,1,23.000000,412.000000,17.913043
1928321,0,1,Oceania,4,26.000000,696.000000,26.769231
1928327,0,1,Asia,2,5.000000,390.000000,78.000000
1928328,0,2,Asia,3,2.500000,233.500000,85.083333
1928329,0,2,Asia,4,1.000000,0.000000,0.000000
1928330,0,1,Oceania,2,9.000000,562.000000,62.444444
1928331,0,1,Asia,0,2.000000,75.000000,37.500000
1928333,0,1,Asia,3,4.000000,235.000000,58.750000
1928339,0,1,Europe,1,5.000000,118.000000,23.600000
1928353,0,1,North America,1,16.000000,475.000000,29.687500
1928360,0,1,North America,5,10.000000,627.000000,62.700000

In [48]:
def ContinentData(x):
    s0 = pd.Series(x.size, name = 'Num Of Users')
    s1 = pd.Series(x['Nsessions'].mean(), name = 'avg sessions per user')
    s2 = pd.Series(x['AVG_Task_Session'].mean(), name = 'avg of avg task per user per session')    
    s3 = pd.Series(x['AVG_length_Session'].mean(), name = 'avg of avg of session length per user')    
    s4 = pd.Series(x['AVG_dwell_Session'].mean(), name = 'avg of avg of dwell time per user')    
    return pd.concat([s0,s1,s2,s3,s4], axis=1)

In [49]:
ContinentData = usersTable.groupby('Continent').apply(lambda x: ContinentData(x))

In [50]:
ContinentData.to_csv('ContinentData.csv')

In [52]:
usersTable.to_csv('usersTable.csv')

In [168]:
ContinentData

,,Num Of Users,avg sessions per user,avg of avg task per user per session,avg of avg of session length per user,avg of avg of dwell time per user
Continent,,,,,,
Africa,0,150,1.960000,185.342857,929.684762,5.729178
Asia,0,1734,2.615917,116.370932,626.687212,5.066662
Europe,0,10026,4.474566,151.079639,653.011071,4.424935
North America,0,14916,3.737329,225.353965,848.428051,4.555490
Oceania,0,1986,4.601208,177.817548,781.257889,4.583069
South America,0,624,4.817308,200.337520,908.691780,5.342741

In [25]:
usersTable["AVG_length_Session"].describe()

count     4906.000000
mean       765.965892
std        903.310403
min          0.000000
25%        163.250000
50%        477.250000
75%       1055.250000
max      12556.000000
Name: AVG_length_Session, dtype: float64